<!DOCTYPE html>
<html>
<head>
<title>Help</title>
</head>
<body>
	{{>navbar}}
	{{>header}}



	<h1 align="center" class="header">Hello world</h1>
	<p>This is a help page</p>

	{{>footer}}
</body>
</html>