<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
<head>
<title>title</title>
</head>
<body>
	
	{{>header}}

<br><br>
<div align="center">
	<form>
		<div class="control">
  		<input class="input is-hovered" type="text" placeholder="Enter the location">
		</div>
		<br><br>
		<button id="MainBtn" class="button is-primary">SEARCH</button>
	</form>
</div>

<br>
<br>
<div align="center" class="data">
	<p id="msg-1"></p>
	<p id="msg-2"></p>
	<p id="msg-3"></p>
	<p id="msg-4"></p>
	<p id="msg-5"></p>
</div>
	

	<script src="/js/app.js"></script>
</body>
</html>